* {
  box-sizing: border-box;
}

body{
  text-align: center;
  font-family: sans-serif;
  margin: 0;
}

h1 {
  background-color: #2d2d2d;
  color: white;
  padding: 10px 0;
  margin: 0;
}

.menu li {
  background-color: #cccccc;
  display: inline-block;
}

.menu a {
  text-decoration: none;
  color: white;
}

main {
  max-width: 900px;
  margin: 0 auto;
}

.num-photos {
  background-color: aquamarine;

}

.num-photos h2 {
  text-align: left;
  font-weight: 400;
  padding-left: 10px
}

strong {
  text-decoration: underline;
  color: gold;
}

.underline-text {
  color: black;
}

.box {
  display: inline-block;
  padding: 10px 2px;
  width: 33.333%;
}

.box img {
  width: 100%;
}

.box footer {
 background-color: gold;
 color: black;
 padding: 10px 0;
}


footer {
  background-color: black;
  color: white;
}
